<!-- member-add-dialog.component.html -->
<div class="dialog-container">
  <h2 mat-dialog-title>Add New Partner</h2>

  <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group">
        <h3>Partner CGI Email</h3>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="email"
            placeholder="newmember@cgi.com"
          />
        </mat-form-field>
        <p class="form-hint">Enter New Partner's Email</p>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <h3>Status</h3>
        <mat-form-field appearance="outline">
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of statuses" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p class="form-hint">Choose New Partner's Status</p>
      </div>
    </div>

    <div class="dialog-actions">
      <button mat-flat-button type="button" (click)="close()">Cancel</button>
      <button mat-flat-button color="primary" type="submit">Add Partner</button>
    </div>
  </form>
</div>
