$colors: (
  primary: #5236ab,
  secondary: #777,
  text-dark: #333,
  text-light: #666,
  background: #f8f8f8,
  error: #f8d7da,
  error-text: #721c24,
  border: #dcdcdc,
);

$spacing: (
  xs: 0.625rem,
  sm: 1rem,
  md: 1.5rem,
  lg: 2rem,
);
