<div class="container">
  <div class="grid-container">
    <div class="button-container">
      <a [routerLink]="'/admin/criteria'">
        <div class="button-content">
          <div class="left-content">
            <div class="icon-container">
              <img
                src="assets/buttons/checklist.png"
                alt="Criteria Management Icon"
              />
            </div>
            <div class="text-container">
              <span class="title">Rewards Criteria Management</span>
              <span class="description"
                >Partner/Manager Checklist Criteria Edits</span
              >
            </div>
          </div>
          <mat-icon class="button-arrow">keyboard_arrow_right</mat-icon>
        </div>
      </a>
    </div>

    <div class="button-container">
      <a [routerLink]="'/admin/members'">
        <div class="button-content">
          <div class="left-content">
            <div class="icon-container">
              <img
                src="assets/buttons/trophy.png"
                alt="Member Management Icon"
              />
            </div>
            <div class="text-container">
              <span class="title">Partners Management</span>
              <span class="description"
                >View and Edit Current Partner Details</span
              >
            </div>
          </div>
          <mat-icon class="button-arrow">keyboard_arrow_right</mat-icon>
        </div>
      </a>
    </div>

    <div class="button-container">
      <a [routerLink]="'/admin/leaderboard'">
        <div class="button-content">
          <div class="left-content">
            <div class="icon-container">
              <img src="assets/buttons/graph.png" alt="Leaderboard Icon" />
            </div>
            <div class="text-container">
              <span class="title">Leaderboards</span>
              <span class="description">Current Race Season leaderboard</span>
            </div>
          </div>
          <mat-icon class="button-arrow">keyboard_arrow_right</mat-icon>
        </div>
      </a>
    </div>
  </div>
</div>
