<div class="container">
  <div class="grid-container">
    <ng-container *ngFor="let card of adminCards">
      <div class="button-container">
        <a [routerLink]="card.url">
          <div class="button-content">
            <div class="left-content">
              <img src="{{ card.icon }}" alt="{{ card.description }}" />
              <div class="text-container">
                <span class="title">{{ card.title }}</span>
                <span class="description">{{ card.description }}</span>
              </div>
            </div>
            <mat-icon class="button-arrow">keyboard_arrow_right</mat-icon>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</div>
