<mat-sidenav-container class="sidenav-container" *ngIf="user">
  <mat-sidenav-content>
    <mat-toolbar
      [ngClass]="{ 'admin-toolbar': user.role_id === 1 }"
      color="white"
    >
      <div class="nav-container">
        <div class="logo">
          <a [routerLink]="['/home']">
            <img
              src="{{
                user.role_id === 1
                  ? 'assets/cgi-logo-white.png'
                  : 'assets/logo-admin.png'
              }}"
              alt="Logo"
            />
          </a>
        </div>
        <div
          class="menu logout-button"
          [matMenuTriggerFor]="menu"
          [ngClass]="{ 'admin-text': user.role === 1 }"
        >
          <span class="username">
            {{ user.member_firstname + " " + user.member_lastname }}
          </span>
          <mat-icon class="button-arrow">keyboard_arrow_down</mat-icon>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
